@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Barlow;
}
body {
  height: 90vh;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.header {
  padding: 1.5rem;
  margin: 2rem 23%;
  border: 0.2rem solid hsl(217, 16%, 45%);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scoreboard {
  font-size: large;
  color: hsl(229, 64%, 46%);
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.7rem 2rem;
  height: 4.5rem;
  text-align: center;
  font-family: Barlow;
  font-weight: 600;
}
.score {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  color: hsl(229, 25%, 31%);
}
.game {
  display: none;
  padding: 5rem;
  /* display: flex; */
  justify-content: center;
  align-items: flex-end;
}

.paper {
  height: 8rem;
  width: 8rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1rem solid hsl(230, 89%, 62%);
  position: absolute;
  top: 37%;
  right: 53%;
}

.scissors {
  height: 8rem;
  width: 8rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1rem solid hsl(39, 89%, 49%);
  position: absolute;
  top: 37%;
  left: 53%;
}

.rock {
  height: 8rem;
  width: 8rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1rem solid hsl(349, 71%, 52%);
  position: absolute;
  top: 69%;
  right: 44%;
  left: 44%;
}
.footer {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
button {
  padding: 0.7rem 2rem;
  outline: none;
  border: 0.15rem solid hsl(217, 16%, 45%);
  border-radius: 0.5rem;
  color: white;
  font-size: medium;
  background-color: transparent;
}

.attribution {
  background-color: white;
  text-align: center;
}

/* game start */
